.post-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 1.5rem auto;
    height: auto;
}
.post-nav + * {
    margin-top: 0;
}
.post-nav .nav__prev {
    display: flex;
    flex: 50% 1;
    justify-content: flex-start;
    text-align: left;
}
.post-nav .nav__next {
    display: flex;
    flex: 50% 1;
    justify-content: flex-end;
    text-align: right;
}
.post-nav .nav__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--t);
}
.post-nav .nav__link:hover {
    text-decoration: none;
    opacity: 1;
}
.post-nav .nav__label {
    font-size: 0.8rem;
    font-weight: 450;
    color: #808080;
}
.post-nav .nav__title {
    font-size: 1rem;
    font-weight: 550;
    line-height: 1.125;
}