#waline .wl .vpanel .vwrap {
    border: none;
    background-color: var(--body-bg);
    border-radius: 7px;
}

#waline .wl .vlogin-btn {
    background-color: var(--white);
    border: none;
}

#waline .wl a {
    color: var(--link);
    text-decoration: none;
}

#waline .wl a:hover {
    text-decoration: underline;
}

#waline .wl a:active {
    text-decoration: none;
}

#waline .wl a:visited {
    color: var(--link);
    text-decoration: none;
}

#waline .wl .vheader {
    display: flex;
}

#waline .wl .vwrap .vheader .vinput {
    width: auto;
    flex: 1;
    margin: 0 4px;
    border: none;
    border-radius: 7px;
    background-color: var(--white);
}

@media (max-width: 600px) {
    #waline .v .vheader {
        display: block;
    }
    #waline .v .vwrap .vheader .vinput {
        width: 100%;
        margin: 4px;
    }
}

#waline .wl .vbtn {
    background-color: var(--blue);
    color: var(--white-txt-on-blue-bg);
    padding: 6px 12px;
    border-radius: 32px;
    text-decoration: none;
    border: none;
}

#waline .wl .vbtn:hover {
    background-color: var(--link);
}